<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{n}}</h1>
    <h1>{{age}}</h1>
    <h1>{{chemotherapy}}</h1>
    <h1>{{hormone}}</h1>
    <h1>{{Nmutations}}</h1>
    <h1>{{tumorsize}}</h1>
    <h1>{{BreastS}}</h1>
    <h1>{{CancerDetailed}}</h1>
    <h1>{{Celullarity}}</h1>
    <h1>{{tumorStage}}</h1>
    <h1>{{predictionUser}}</h1>
    <h1>{{probaUser}}</h1>
</body>
</html>