<!DOCTYPE html>
<html>
<head>
<title>B safe cancer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">B SAFE CANCER</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"></a>
      <a href="#viz1710700232662" class="w3-bar-item w3-button"></a>
      <a href="#form1" class="w3-bar-item w3-button"></a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:95%">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{{ url_for('static', filename='images/about.jpeg') }}"  alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Overall survivall probability is: {{probaUser}}%</h1><br>
      <h5 class="w3-center">Cancer survival overall predictor Model</h5>
      <p class="w3-large">Dear {{n}} based on our analysis of the patient data, we have not found any evidence that would lead to a risk but please consider medical visits occasionally. It is important to note that these predictions are probabilistic and should be interpreted with caution, considering each patient's unique clinical profile and circumstances.
    </div>
  </div>
  

</body>
</html>